<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kabasa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bookshop_Website.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com" asp-append-version="true"/>
    <link rel="stylesheet" href="https://fonts.gstatic.com" crossorigin asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet" asp-append-version="true"/>

</head>
<body style="background-color:#F0F0F0">
    <div class="wrapper">
        <div class="content">
            <!--Back to top button-->
            <button class="btn rounded-circle" id="backToTopBtn" title="Back to top">▲</button>
    <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-red border-bottom box-shadow" style="background-color: white; padding-inline: 100px;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Books" asp-action="Index" id="brandText">Kabasa</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-between">
                                <!--Category button-->
                            <div class="btn-group">

                                        <button type="button" class="btn dropdown-toggle shadow-none" data-bs-toggle="dropdown" id="catButton">
                                            <i class="fa-solid fa-bars"></i>
                                        </button>

                                <ul class="dropdown-menu multi-column columns-3" id="genresDropdown">
                                            <!-- Genres dropdown menu -->


                                        </ul>
                            </div>

                        <!--Search button-->

                                <form asp-controller="Books" asp-action="SearchResults" method="get" class="w-100">
                                    <div class="input-group w-100" id="searchContainer">
                                        <input name="SearchPhrase" class="form-control shadow-none search-input" type="search" placeholder="Search">
                                        <div class="input-group-append" style="background-color:red;display:flex">

                                        <button class="btn shadow-none" type="submit"><i class="fas fa-search" style="color:white;align-items:center "></i></button>
                                        </div>
                                    </div>


                        </form>

                        <!-- Cart button -->
                                    <a class="nav-link" asp-area="" asp-controller="Books" asp-action="ViewCart" id="navButton">
                                        <div id="navContainer">
                                            <i class="fa-solid fa-cart-shopping" id="navSymbol"></i>
                                        </div>

                                    <div id="navContainer">
                                            Cart
                                        </div>
                                    </a>
                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>
            @if (ViewData["ShowBanner"] != null && (bool)ViewData["ShowBanner"])
            {
                <partial name="_BannerPartial" />
            }            
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        </div>

    <footer>
        <div class="footer">
            <div class="container">
                &copy; 2024 - Kabasa - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color:Yellow">Privacy</a><br/>
                This is a website
            </div>
        </div>
    </footer>
    </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/scripts.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function() {
            // Fetch genres using an AJAX request
            $.get('@Url.Action("Genres", "Books")', function(data) {
                $('#genresDropdown').append(data); 

            }).fail(function() {
                alert('Error loading genres!');
            });
        });
        // Return back button
        window.onscroll = function() {
            scrollFunction();
        };

        function scrollFunction() {
            var backToTopBtn = document.getElementById("backToTopBtn");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                backToTopBtn.style.display = "block";
            } else {
                backToTopBtn.style.display = "none";
            }
        }

        document.getElementById("backToTopBtn").addEventListener("click", function() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });

    </script>

</body>
</html>


<style>
    header{
        margin:0;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    body, html {
        height: 100%;
        margin: 0;
    }

    main {
        flex: 1;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .content {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .footer {
        background-color: red;
        color: white;
        padding: 20px;
        text-align: center;
        margin: 0
    }


    #backToTopBtn {
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 100;
        display: none;
        font-size: larger;
        padding: 15px 22px;
        cursor: pointer;
    }

        #backToTopBtn:hover {
            background-color: cornflowerblue;
        }

    #brandText {
        color: red;
        font-weight: 800;
        font-size: 25px
    }


    #navButton {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: #7A7E7F;
        font-size: 15px;
        width: 50px;
        height: 50px;
        margin-inline: 20px
    }

    #navSymbol {
        font-size: 15px;
    }



    #catButton {
        margin-left: 20px;
        color: #7A7E7F;
        font-size: 20px
    }

    #searchContainer {
        height: 45px
    }

    .dropdown-menu.columns-3 {
        min-width: 600px;
    }
</style>