<!DOCTYPE html>
<html lang="en">
<partial name="~/Views/Shared/Layout/Head.cshtml" />
<body style="background-color:#FFFFFF">
    <div class="wrapper">
        <div class="content">
            <partial name="~/Views/Shared/Components/FeedbackModalPartial.cshtml" />
            <partial name="~/Views/Shared/Components/BackToTopButton.cshtml" />
            <header>
                <partial name="~/Views/Shared/Layout/Header.cshtml" />
            </header>
            @if (ViewData["ShowBanner"] != null && (bool)ViewData["ShowBanner"])
            {
                <partial name="~/Views/Shared/Components/BannerPartial.cshtml" />
            }
            <main role="main" class="pb-3">
                <partial name="~/Views/Shared/Components/Overlay.cshtml" />
                @RenderBody()
            </main>
        </div>

        <footer>
            <partial name="~/Views/Shared/Layout/Footer.cshtml" />
        </footer>
    </div>



    
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            // Fetch genres using an AJAX request
            $.get('@Url.Action("Genres", "Books")', function (data) {
                $('#genresDropdown').append(data);

            }).fail(function () {
                alert('Error loading genres!');
            });
        });
    </script>

</body>
</html>


<style>
    .dropdown-menu.columns-4 {
        position: fixed;
        width: 100%;
        top: 60px;
        padding-inline: 10rem;
    }

    .dropdown-header, .dropdown-item {
        position: relative;
        z-index: 10;
    }

    .overflow-hidden {
        overflow: hidden; 
    }

</style>