@model Bookshop_Website.Models.Books

@{
    ViewData["Title"] = "Edit";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="bg-white p-10 my-3 border rounded shadow align-items-center edit-container">
        <div class="d-flex justify-content-center py-4">
            <div class="col px-5">
                <div class="row pb-4">
                    <h1 class="fw-semibold">Edit Book</h1>
                </div>
                <!-- Include enctype for file uploads -->
                <form asp-action="Edit" enctype="multipart/form-data">
                    <input type="hidden" asp-for="BookId" />
                    <div class="row">
                        <div class="col-6 form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <div class="validationContainer">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 form-group">
                            <label asp-for="Genre" class="control-label"></label>
                            <select class="form-select" asp-for="Genre">
                                <option selected>Education</option>
                                <option value="Politics">Politics</option>
                                <option value="Romance">Romance</option>
                                <option value="Sci-fi">Sci-fi</option>
                                <option value="History">History</option>
                                <option value="Fantasy">Fantasy</option>
                                <option value="Self-Help">Self-Help</option>
                                <option value="Horror">Horror</option>
                            </select>
                            <div class="validationContainer">
                                <span asp-validation-for="Genre" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 form-group">
                            <label asp-for="Publisher" class="control-label"></label>
                            <input asp-for="Publisher" class="form-control" />
                            <div class="validationContainer">
                                <span asp-validation-for="Publisher" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 form-group">
                            <label asp-for="Language" class="control-label"></label>
                            <select class="form-select" asp-for="Language">
                                <option selected>English</option>
                                <option value="French">French</option>
                                <option value="Spanish">Spanish</option>
                                <option value="Chinese">Chinese</option>
                                <option value="Russian">Russian</option>
                            </select>
                            <div class="validationContainer">
                                <span asp-validation-for="Language" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 form-group">
                            <label asp-for="Author" class="control-label"></label>
                            <input asp-for="Author" class="form-control" />
                            <div class="validationContainer">
                                <span asp-validation-for="Author" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 form-group">
                            <label asp-for="OriginalPrice" class="control-label"></label>
                            <input asp-for="OriginalPrice" class="form-control" />
                            <div class="validationContainer">
                                <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 form-group">
                            <label asp-for="DiscountPercentage" class="control-label"></label>
                            <input asp-for="DiscountPercentage" class="form-control" />
                            <div class="validationContainer">
                                <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 form-group">
                            <label class="control-label">Current Image</label>
                            <div class="mb-2">
                                @if (Model.ImageData != null)
                                {
                                    <img src="@Url.Action("GetImage", new { id = Model.BookId })" alt="Book Image" class="img-thumbnail" style="max-width:200px;" />
                                }
                                else
                                {
                                    <p>No image uploaded.</p>
                                }
                            </div>
                            <label for="imageFile" class="control-label">Upload New Image</label>
                            <input type="file" name="imageFile" class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 form-group">
                            <label asp-for="PublicationDate" class="control-label"></label>
                            <input asp-for="PublicationDate" type="date" class="form-control" />
                            <div class="validationContainer">
                                <span asp-validation-for="PublicationDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 form-group">
                            <label asp-for="NumberOfPages" class="control-label"></label>
                            <input asp-for="NumberOfPages" class="form-control" />
                            <div class="validationContainer">
                                <span asp-validation-for="NumberOfPages" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 form-group">
                            <label asp-for="StockQuantity" class="control-label"></label>
                            <input asp-for="StockQuantity" class="form-control" />
                            <div class="validationContainer">
                                <span asp-validation-for="StockQuantity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control description"></textarea>
                            <div class="validationContainer">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group justify-content-center pt-3">
                        <input type="submit" value="Save" class="btn btn-primary w-50" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .edit-container {
        width: 50rem;
    }

    .validationContainer {
        height: 2rem;
    }

    .description {
        height: 8rem;
        resize: none;
    }
</style>
