@model IEnumerable<string>

<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Category
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        @foreach (var genre in Model)
        {
            <li>
                <form asp-controller="Books" asp-action="GenresShow" method="post">
                    <input type="hidden" name="SearchPhrase" value="@genre" />
                    <button class="dropdown-item" type="submit">@genre</button>
                </form>
            </li>
        }
    </ul>
</div>
