@model IEnumerable<Bookshop_Website.Models.Books>


@{
    ViewData["ShowBanner"] = true;
    var profilePictureUrl = ViewBag.ProfilePictureUrl as string;


}


@if (User.IsInRole("Admin"))
{
    <div class="container">
        <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
    </div>
}

@{
    ViewData["Title"] = "🏆 Best Selling Books";
}
<div class="container">
    @await Html.PartialAsync("BookSlider", ViewBag.BestSellingBooks as IEnumerable<Bookshop_Website.Models.Books>)

</div>

@{
    ViewData["Title"] = "🔥 Flash Sales";
}
<div class="container">
    @await Html.PartialAsync("BookSlider", ViewBag.FlashSaleBooks as IEnumerable<Bookshop_Website.Models.Books>)
</div>
@{
    ViewData["Title"] = "New Arrivals";
}
<div class="container">
    @await Html.PartialAsync("BookSlider", ViewBag.NewBooks as IEnumerable<Bookshop_Website.Models.Books>)
</div>

@{
    ViewData["Title"] = "All Books";
}
<div class="container">
    @await Html.PartialAsync("BookSlider", ViewBag.AllBooks as IEnumerable<Bookshop_Website.Models.Books>)
</div>


@{
    ViewData["Title"] = "Every Book is a New Journey";
}


<style>


    #bookCard {
        width: 14rem;
        height: 21rem;
        margin-inline: 1.15rem;
    }

        #bookCard:hover {
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }


    #textAuthor {
        font-size: 0.8rem
    }

    .custom-card-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        font-size: 15px;
        height: 45px;
        color: black;
    }

        .custom-card-title:hover {
            color: cornflowerblue;
            text-decoration: none;
            height: 45px
        }


    .price {
        color: red;
        font-size: 19px;
    }

    .original-price {
        color: grey;
        text-decoration: line-through;
        font-size: 16px;
    }

    .discount-percentage {
        background-color: red;
        font-size: 14px;
        border-radius: 7px;
        width: 35px;
    }

    #cardTitle {
        height: 58px;
    }


</style>