<button class="btn rounded-circle" id="backToTopBtn" title="Back to top">▲</button>

<script>
    window.onscroll = function() {
        scrollFunction();
    };

    function scrollFunction() {
        var backToTopBtn = document.getElementById("backToTopBtn");
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            backToTopBtn.style.display = "block";
        } else {
            backToTopBtn.style.display = "none";
        }
    }

    document.getElementById("backToTopBtn").addEventListener("click", function() {
        window.scrollTo(0, 0);;
    });
</script>

<style>
    #backToTopBtn {
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 1000;
        display: none;
        font-size: larger;
        padding: 15px 22px;
        cursor: pointer;
    }

        #backToTopBtn:hover {
            background-color: cornflowerblue;
        }
</style>