@page
@model RegisterModel

@{
    ViewData["Title"] = "Sign in";
}


<div class="container d-flex justify-content-center align-items-center">
    <div class="bg-white p-10 my-3 border rounded shadow align-items-center" id="loginContainer">
        <div class="d-flex justify-content-center py-4">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="d-flex flex-column align-items-center">
            <form class="d-flex flex-column w-75" id="registerForm" method="post">
                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form2Example1">Email address</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                </div>

                <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form2Example2">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="confirm your password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <!-- Submit button -->
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-red">Sign in</button>

                <!-- Register buttons -->
                <div class="text-center pt-3">
                    <p>Already has account? <a class="custom-link"  asp-page="./Login">Login</a></p>
                    <p>or sign in with:</p>

                </div>
            </form>

            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            if (provider.Name == "Google")
                            {

                                <button type="submit" class="btn btn-link btn-floating mx-1" name="provider" value="@provider.Name" title="Sign in using your Google account">
                                    <i class="fab fa-google"></i>
                                </button>
                            }
                        }
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<style>
    #loginContainer {
        width: 40rem;
        height: 37rem;
    }

    .fa-google {
        background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }

    .btn-red {
        background-color: red;
        color: white;
    }

    .btn-red:hover {
        background-color: red;
        color: white;
    }

    .custom-link {
        text-decoration: none; 
        color: red;
        font-weight: bold;
    }


</style>
